* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.idCard {
  display: flex;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.profilePicture {
  padding: 1px;
}

.idCardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.RGBDiv {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;
  padding: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  gap: 20px;
}

.creditCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  width: 380px;
  height: 180px;
  padding: 15px;
}

.cardImage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50px;
}

.cardNumber {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cardOwner {
  display: flex;
}